// 所有元素均使用border-box盒模型

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// 通用链接样式
a {
    color: $primary-color;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:active {
        color: darken($primary-color, 10%);
    }
}
