//
// Sliders
// ------------------------------

.slider {
    width: 100%;
    overflow: hidden;
    background-color: #000;

    .slide-group {
        position: relative;
        font-size: 0;   // Remove spaces from inline-block children
        white-space: nowrap;
        @include transition(all 0s linear);

        .slide {
            display: inline-block;
            width: 100%;
            height: 100%;
            font-size: $font-size-default;
            vertical-align: top;    // Ensure that li always aligns to top
        }
    }
}
