// 文字排版
// ------------------------------

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    @include leader(1);
    @include trailer(1);
}

h1, .h1 {
    @include adjust-font-size-to($font-size-default * 2.6);
}

h2, .h2 {
    @include adjust-font-size-to($font-size-default * 2.15);
}

h3, .h3 {
    @include adjust-font-size-to($font-size-default * 1.7);
}

h4, .h4 {
    @include adjust-font-size-to($font-size-default * 1.25);
}

h5, .h5 {
    @include adjust-font-size-to($font-size-default * 1);
}

h6, .h6 {
    @include adjust-font-size-to($font-size-default * .85);
}

p {
    @include leader(1);
    @include trailer(1);
    color: $text-color;
    text-align: justify;
}
