// 排版
// ------------------------------

// 参考淘宝和锤子字体设置
$font-family-default: "Helvetica Neue", Helvetica, "Hiragino Sans GB W3", "Hiragino Sans GB", STHeiti, "STHeiti Light [STXihei]", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif !default;
$font-size-default: 16px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: $font-size-default * 1.5 !default;

// 颜色
// ------------------------------

// 主颜色
$primary-color: #428bca !default;
$chrome-color: #fff !default;
$text-color: #333 !default;

// 交互颜色（Action colors）
$default-color: #fff !default;
$positive-color: #5cb85c !default;
$negative-color: #d9534f !default;


// Bars
$bar-base-height: $line-height-default * 2  !default;
$bar-side-spacing: 8px !default;


// Borders
$border-default-width: 1px;
$border-default: $border-default-width solid #ddd;

// Icons
$icon-size-default: 21px !default;

// Badges
$badge-font-size: round($font-size-default * .8) !default;

// Buttons
$button-font-size: round($font-size-default * .8) !default;
$button-block-font-size: round($font-size-default * 1.2) !default;
