// 排版
// ------------------------------

// 参考淘宝和锤子字体设置
$font-family-default: "Helvetica Neue", Helvetica, "Hiragino Sans GB W3", "Hiragino Sans GB", STHeiti, "STHeiti Light [STXihei]", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif !default;
$font-size-default: 14px !default;
$font-weight: 500 !default;
$line-height-default: 21px !default;

// 颜色
// ------------------------------

// 主颜色
$primary-color: #428bca !default;
$chrome-color: #fff !default;


// Bars
$bar-base-height: $line-height-default * 2  !default;
$bar-side-spacing: 10px !default;


// Borders
$border-default-width: 1px;
$border-default: $border-default-width solid #ddd;

// Icons
$icon-size-default: 21px !default;
