<div class="content">
    <div class="content-padded">
        <span class="badge">1</span>
        <span class="badge badge-primary">2</span>
        <span class="badge badge-positive">3</span>
        <span class="badge badge-negative">4</span>
        <span class="badge badge-inverted">5</span>
        <span class="badge badge-inverted badge-primary">6</span>
        <span class="badge badge-inverted badge-positive">7</span>
        <span class="badge badge-inverted badge-negative">8</span>
    </div>
</div>
