<header class="bar bar-nav">
    <h1 class="title">Buttons</h1>
</header>

<div class="content">
    <div class="content-padded">
        <p>
            <button class="btn">按钮</button>
        </p>
        <p>
            <button class="btn btn-primary">按钮（主）</button>
        </p>
        <p>
            <button class="btn btn-positive">按钮（确认）</button>
        </p>
        <p>
            <button class="btn btn-negative">按钮（取消）</button>
        </p>
        <p>
            <button class="btn btn-link">按钮（链接）</button>
        </p>

        <p>
            <button class="btn btn-outlined">按钮</button>
        </p>
        <p>
            <button class="btn btn-outlined btn-primary">按钮（主）</button>
        </p>
        <p>
            <button class="btn btn-outlined btn-positive">按钮（确认）</button>
        </p>
        <p>
            <button class="btn btn-outlined btn-negative">按钮（取消）</button>
        </p>
    </div>

    <div class="content-padded">
        <p>
            <button class="btn"><i class="icon icon-magnifier"></i>按钮</button>
        </p>
        <p>
            <button class="btn btn-primary"><i class="icon icon-diamond"></i>按钮（主）</button>
        </p>
        <p>
            <button class="btn btn-positive"><i class="icon icon-thumbs-up"></i>按钮（确认）</button>
        </p>
        <p>
            <button class="btn btn-negative"><i class="icon icon-thumbs-down"></i>按钮（取消）</button>
        </p>
        <p>
            <button class="btn btn-link"><i class="icon icon-chevron-left"></i>按钮（链接）</button>
        </p>
    </div>

    <div class="content-padded">
        <button class="btn btn-block">按钮</button>
        <button class="btn btn-block btn-primary">按钮（主）</button>
        <button class="btn btn-block btn-positive">按钮（确认）</button>
        <button class="btn btn-block btn-negative">按钮（取消）</button>
        <button class="btn btn-block btn-link">按钮（链接）</button>
        <button class="btn btn-block btn-outlined">按钮</button>
        <button class="btn btn-block btn-outlined btn-primary">按钮（主）</button>
        <button class="btn btn-block btn-outlined btn-positive">按钮（确认）</button>
        <button class="btn btn-block btn-outlined btn-negative">按钮（取消）</button>
    </div>
</div>
