<header class="bar bar-nav">
    <h1 class="title">Forms</h1>
</header>

<div class="content">
    <div class="content-padded">
        <form>
            <input type="text" placeholder="全名" />
            <input type="search" placeholder="搜索" />
            <select>
                <option>--分类选择--</option>
                <option>社科人文</option>
                <option>科学技术</option>
                <option>艺术人生</option>
            </select>
            <textarea rows="6"></textarea>
            <button class="btn btn-positive btn-block">Submit</button>
        </form>
    </div>
</div>
