<header class="bar bar-nav">
    <h1 class="title">Modal</h1>
</header>

<div class="content">
    <div class="content-padded">
        <button class="btn btn-block">打开模态窗口</button>
        <template id="modal-example">
        <div class="modal">
            <header class="bar bar-nav">
                <button class="icon icon-cross pull-right" data-toggle="modal-close"></button>
                <h1 class="title">红莓花儿开</h1>
            </header>
            <div class="content">
                <div class="content-padded">
                    <p>田野小河边，红莓花儿开，有一位少年真使我心爱，可是我不能对他表白，满怀的心腹话儿没法讲出来！</p>
                    <p>他对这桩事情一点儿不知道，少女为他思恋为他日夜想，河边红莓花儿已经凋谢了，少女的思恋一点儿没减少！少女的思恋一点儿没减少！</p>
                    <p>少女的思恋天天在增长，我是一位姑娘怎么对他讲？没有勇气诉说，我尽在彷徨，让我的心上人自己去猜想！让我的心上人自己去猜想！</p>
                </div>
            </div>
        </div>
        </template>
    </div>
</div>
<script>
    seajs.use('modals');
</script>
