<div class="content">
    <div class="content-padded">
        <style>
            .slide img {
                width: 100%;
                height: auto;
            }
        </style>
        <div class="slider" id="slider-example">
            <div class="slide-group">
                <div class="slide">
                    <img src="/image/slide-1.jpg" />
                </div>
                <div class="slide">
                    <img src="/image/slide-2.jpg" />
                </div>
                <div class="slide">
                    <img src="/image/slide-3.jpg" />
                </div>
            </div>
        </div>
        <div id="result"></div>
    </div>
</div>
<script>
    seajs.use('sliders');
</script>
