<h1>老诗词</h1>

<h2>雨霖铃</h2>
<p>柳永</p>
<p>
    寒蝉凄切，对长亭晚，骤雨初歇。<br />
    都门帐饮无绪，留恋处，兰舟摧发。<br />
    执手相看泪眼，竟无语凝噎。<br />
    念去去千里烟波，暮霭沈沈楚天阔。<br />
    多情自古伤离别，更那堪冷落清秋节。<br />
    今宵酒醒何处，杨柳岸、晓风残月。<br />
    此去经年，应是良辰好景虚设。<br />
    便纵有千种风情，更与何人说。<br />
</p>

<h2>永遇乐</h2>
<p>李清照</p>
<p>
    落日熔金，暮云合璧，人在何处？<br />
    染柳烟浓，吹梅笛怨，春意知几许？<br />
    元宵佳节，融和天气，次第岂无风雨？<br />
    来相召，香车宝马，谢他酒朋诗侣。<br />
    中州盛日，闺门多暇，记得偏重三五，<br />
    铺翠冠儿，捻金雪柳，簇带争济楚，<br />
    如今憔悴，云鬟雪鬓，怕见夜间出去。<br />
    不如向帘儿底下，听人笑语。<br />
</p>

<h2>关雎</h2>
<p>国风·周南</p>
<p>
    关关雎鸠，在河之洲。窈窕淑女，君子好逑。<br />
    参差荇菜，左右流之。窈窕淑女，寤寐求之。<br />
    求之不得，寤寐思服。悠哉悠哉，辗转反侧。<br />
    参差荇菜，左右采之。窈窕淑女，琴瑟友之。<br />
    参差荇菜，左右芼之。窈窕淑女，钟鼓乐之。 <br />
</p>
